#work {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: scroll;
  padding-top: 100px;
}
#work h5 {
  margin-bottom: 10px;
  line-height: 22px;
}
#work .workblock {
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
  padding: 20px 0px;
}
#work .workblock:last-child {
  border-bottom: 0px;
}
#work h6.position {
  margin-top: -7px;
}
.educationright h6 {
  white-space: pre-wrap; /* Ensure new lines are handled properly */
}
.scrollable-div {
  height: 100vh; /* 50% of the viewport height */
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #ddd; /* Optional */
  padding: 10px; /* Optional */
}
@media (max-width: 767px) {
  #work {
    padding-top: 150px;
  }
  #work h2 {
    margin-bottom: 0px !important;
  }
  .scrollable-div {
    height: 300px; /* Adjust for smaller screens */
  }
}




